// <!-- start group-3 -->
.group-3 {
  @include size(12);
  @include wrapper();
  margin-bottom: 160px;

  &__title {
    @include font-mixin("Acrom-ExBold", 35.43px, $dark);
    line-height: 1.4;
    max-width: 520px;
    margin-bottom: 41px;
  }

  &__content {
    display: flex;
  }
}

.slider-g3 {
  display: flex;
  align-items: center;
  margin-left: 14px;
  width: 100%;

  &-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 480px;
    height: 296px;
    padding: 20px 48px 20px 40px;
    box-shadow: -3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  }

  &-text {
    @include font-mixin("Acrom-Regular", 16px, $dark);
    line-height: 1.4;
    position: relative;
  }

  &-btn-left {
    padding: 0;
    background: url(../img/left-arrow.png) no-repeat 35% 50%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 13px;
    outline: none;
    border: none;
    cursor: pointer;

    &:active {
      box-shadow: inset 0px 0px 4px rgb(0, 0, 0);
    }
  }

  &-btn-right {
    padding: 0;
    align-self: auto;
    background: url(../img/right-arrow.png) no-repeat 65% 50%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: 13px;
    outline: none;
    border: none;
    cursor: pointer;

    &:active {
      box-shadow: inset 0px 0px 4px rgb(0, 0, 0);
    }
  }
}

.numericSlider {
  position: absolute;
  left: -42px;
  top: 50px;
  width: 48px;
  height: 16px;
  background-color: $orange;
  transform: rotate(270deg);
  @include font-mixin("Acrom-Bold", 13.3px, $white);
  text-align: center;
  line-height: 1;
}
