.row {
  display: flex;
}

h2 {
  max-width: 260px;
}

.group-2__title {
  font-family: "Acrom", sans-serif;
  font-size: 37px;
  line-height: 50px;
  font-weight: 900;
}

.group-2__title--background {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Acrom", sans-serif;
  font-size: 37px;
  line-height: 50px;
  font-weight: 900;
}

.info>p {
  display: flex;
  font-family: "Acrom", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  margin-top: 30px;
}

.info>p::before {
  content: "";
  display: block;
  width: 58px;
  height: 10px;
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
}

.group-2 {
  margin-bottom: 72px;
}
