// <!-- Insert You'r code DOWN HERE -->
.group-1 {
  @include wrapper();
  padding: 0;
  margin-bottom: 40px;

  position: relative;
  &::before {
    display: block;
    content: "goit";
    @include font-mixin("Acrom-ExBold", 183px, $dark);
    opacity: 0.051;
    text-transform: uppercase;
    position: absolute;
    bottom: -38px;
    right: -184px;
    transform: rotate(90deg);
    z-index: -1;
  }
}

.page-title {
  @include font-mixin("Acrom-ExBold", 57.5px, $dark);
  margin-bottom: 20px;
  line-height: 1.3;
  margin-bottom: 34px;
}

.highlighted {
  background: $dark;
  color: $white;
  letter-spacing: -1px;
}

.about {
  @include font-mixin("Acrom-Bold", 21px, $dark-grey);
  position: relative;
  @include size(7);
  padding-left: 104px;
  margin-bottom: 58px;
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 56px;
    height: 8px;
    top: 4px;
    left: 0;
    background: $dark;
  }
}

.site-desc {
  display: flex;
}

.left-img {
  @include col();
  @include size(6);
}

.right-desc-text {
  @include col();
  @include size(6);
}

.desc-title {
  @include font-mixin("Acrom-ExBold", 37px, $dark);
  padding-top: 38px;
  margin-bottom: 25px;
  position: relative;
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background: $dark;
    left: 0;
    top: 0;
  }
}

.desc-main {
  @include font-mixin("Acrom-Medium", 17px, $dark);
  position: relative;
  line-height: 2;
  & p:first-child {
    margin-bottom: 36px;
  }
}
