// <!-- Insert You'r code DOWN HERE -->
.main-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.main-nav a {
  text-decoration-line: none;
  color: $dark;
}

.contacts {
  width: 230px;
  display: flex;
  justify-content: space-between;
  font-family: "Acrom-Medium", serif;
  font-size: 10.42px;
  line-height: 14.58px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.email {
  font-family: 'Acrom-Bold';
  font-size: 10px;
  color: $dark;
  // vertical-align: middle;

  & a::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 15px;
    height: 11px;
    background: url("/img/envelope.svg");
    background-repeat: no-repeat;
    margin-right: 5px;
  }
}

.tel {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.tel-item a {
  font-family: 'Acrom-Bold';
  font-size: 10px;
  color: $dark;

  &::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 8px;
    height: 11px;
    background: url("/img/phone-receiver.svg");
    background-repeat: no-repeat;
    margin-right: 4px;
  }
}
