@include reset();

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  @include wrapper();
}

.row {
  @include row-flex();
}

.item {
  @include col();
}

.main {
  padding-top: 32px;
  padding-bottom: 134px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.f-grow-2 {
  flex-grow: 2;
}

.align-items-center {
  align-items: center;
}
