@include reset();

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  @include wrapper();
}

.row {
  @include row-flex();
  overflow: hidden;
}

.item {
  @include col();
}

