@include reset();

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  @include wrapper();
}

.main {
  padding-top: 32px;
  padding-bottom: 134px;
  @include xs('max-width', 320px);
  @include xs('padding', 10px 10px 30px 10px);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.f-grow-2 {
  flex-grow: 2;
}

.align-items-center {
  align-items: center;
}
